.contenedor{
    height: 550px;
    width: 70%;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;

}
.hijo{
    width: 250px;
    margin: 25px;
}
.hijo1{
    height: 250px;
    background: red;
    order: 2;
}
.hijo2{
    height: 150px;
    background: green;
    order: 3;
}
.hijo3{
    height: 200px;
    background: blue;
    order: 1;
}